<p id="notice"><%= notice %></p>
<div class="col-md-6 p-lg-8 mx-auto my-5" style="width: 950px; height: 1000px;">
  <main class="form-signin w-100 m-auto">
    <h1 style="text-align: center">Pacientes</h1>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Núm. de seguro</th>
        <th>Dirección</th>
        <th>Teléfono</th>
        <th>Contacto dos</th>
        <th>Fecha de nacimiento</th>
        <th>Curp</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @pacientes.each do |paciente| %>
        <tr>
          <td><%= paciente.nombre %></td>
          <td><%= paciente.edad %></td>
          <td><%= paciente.num_seguro %></td>
          <td><%= paciente.direccion %></td>
          <td><%= paciente.telefono %></td>
          <td><%= paciente.contacto_dos %></td>
          <td><%= paciente.fecha_nacimiento %></td>
          <td><%= paciente.curp %></td>
          <td><%= link_to 'Show', paciente %></td>
          <td><%= link_to 'Edit', edit_paciente_path(paciente) %></td>
          <td><%= link_to 'Destroy', paciente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <br>
    <%= link_to 'New Paciente', new_paciente_path %>
  </main>
</div>
