<p id="notice"><%= notice %></p>

    <h1 style="text-align: center">Pacientes</h1>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Núm. de seguro</th>
        <th>Dirección</th>
        <th>Teléfono</th>
        <th>Contacto dos</th>
        <th>Fecha de nacimiento</th>
        <th>Curp</th>
        <th colspan="4"></th>
      </tr>
      </thead>

      <tbody>
      <% @pacientes.each do |paciente| %>
        <tr>
          <td><%= paciente.nombre %></td>
          <td><%= paciente.edad %></td>
          <td><%= paciente.num_seguro %></td>
          <td><%= paciente.direccion %></td>
          <td><%= paciente.telefono %></td>
          <td><%= paciente.contacto_dos %></td>
          <td><%= paciente.fecha_nacimiento %></td>
          <td><%= paciente.curp %></td>
          <td><%= link_to 'Ver', paciente, :class => "btn btn-info btn-sm"%></td>
          <td><%= link_to 'Editar', edit_paciente_path(paciente), :class => "btn btn-light btn-sm" %></td>
          <td><%= button_to "Eliminar", paciente, method: :delete, :class => "btn btn-danger btn-sm"%></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <br>
    <%= link_to 'Nuevo Paciente', new_paciente_path %>

