<p id="notice"><%= notice %></p>
<table class="table table-striped table-hover">
<thead>
<tr>
  <th>Nombre</th>
  <th>Edad</th>
  <th>Num seguro</th>
  <th>Direccion</th>
  <th>Telefono</th>
  <th>Contacto dos</th>
  <th>Fecha de nacimiento</th>
  <th>Curp</th>

</tr>
</thead>

<tbody>
<tr>
  <td><%= @paciente.nombre %></td>
  <td><%= @paciente.edad %></td>
  <td><%= @paciente.num_seguro %></td>
  <td><%= @paciente.direccion %></td>
  <td><%= @paciente.telefono %></td>
  <td><%= @paciente.contacto_dos %></td>
  <td><%= @paciente.fecha_nacimiento %></td>
  <td><%= @paciente.curp %></td>

</tr>
</tbody>
</table>

</tr>
</thead>


<%= link_to 'Editar', edit_paciente_path(@paciente) %> |
<%= link_to 'Regresar', pacientes_path %>
