<%= form_with(model: doctor, local: true) do |form| %>
  <% if doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>

      <ul>
        <% doctor.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <input type="text" name="doctor[nombre]" id="doctor_nombre" class="form-control">
  </div>

  <div class="field">
    <%= form.label :especialidad %>
    <input type="text" name="doctor[especialidad]" id="doctor_especialidad" class="form-control">
  </div>

  <div class="field">
    <%= form.label :no_cedula %>
    <input type="text" name="doctor[no_cedula]" id="doctor_no_cedula" class="form-control">
  </div>

  <div class="field">
    <%= form.label :consultorio %>
    <input type="number" name="doctor[consultorio]" id="doctor_consultorio" class="form-control">
  </div>

  <div class="actions">
    <input class="w-100 btn btn-lg btn-primary" type="submit" name="commit" value="Crear Doctor" data-disable-with="Create Doctor">
  </div>

<% end %>
