<%= form_with(model: cita, local: true) do |form| %>
  <% if cita.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cita.errors.count, "error") %> prohibited this cita from being saved:</h2>

      <ul>
        <% cita.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-floating">
    <input class="form-control" placeholder="cita" type="number" name="cita[id_paciente]" id="cita_id_paciente">
    <label for="floatingInput">Id Paciente</label>
  </div>

  <div class="form-floating">
    <input class="form-control" placeholder="paciente" type="text" name="cita[nombre_paciente]" id="cita_nombre_paciente">
    <label for="floatingInput">Nombre Paciente</label>
  </div>

  <div class="form-floating">
    <input class="form-control" placeholder="doctor_id" type="number" name="cita[id_doctor]" id="cita_id_doctor">
    <label for="floatingInput">Id Doctor</label>
  </div>

  <div class="form-floating">
    <input class="form-control" placeholder="doctor" type="text" name="cita[nombre_doctor]" id="cita_nombre_doctor">
    <label for="floatingInput">Nombre del Doctor</label>
  </div>

  <div class="form-floating">
    <input class="form-control" placeholder="consultorio" type="number" name="cita[consultorio]" id="cita_consultorio">
    <label for="floatingInput">Consultorio</label>
  </div>

  <div class="field">
    <%= form.label :fecha_hora %>
    <%= form.datetime_select :fecha_hora %>
  </div>

  <div class="actions">
    <input class="w-100 btn btn-lg btn-primary" type="submit" name="commit" value="Crear Cita" data-disable-with="Crear Cita">
  </div>
<% end %>