<p id="notice"><%= notice %></p>

    <h1 style="text-align: center">Cita</h1>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>Id paciente</th>
        <th>Nombre paciente</th>
        <th>Id doctor</th>
        <th>Nombre doctor</th>
        <th>Consultorio</th>
        <th>Fecha hora</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @cita.each do |cita| %>
        <tr>
          <td><%= cita.id_paciente %></td>
          <td><%= cita.nombre_paciente %></td>
          <td><%= cita.id_doctor %></td>
          <td><%= cita.nombre_doctor %></td>
          <td><%= cita.consultorio %></td>
          <td><%= cita.fecha_hora %></td>
          <td><%= link_to 'Ver', cita, :class => "btn btn-info btn-sm" %></td>
          <td><%= link_to 'Editar', edit_cita_path(cita), :class => "btn btn-light btn-sm" %></td>
          <td><%= button_to "Eliminar", cita, method: :delete, :class => "btn btn-danger btn-sm"%></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <br>
    <%= link_to 'Nueva Cita', new_cita_path %>

